<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:white">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
      <img
        src="/views/images/Internshome3.png"
        height="40"
        alt="Internshome logo"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">AboutUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jobs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/viewjob">View</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/adminpanel">As Administrator</a></li>
            <li><a class="dropdown-item" href="/provider/loginpage">As Provider</a></li>
            <li><a class="dropdown-item" href="#">As Student</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign up
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="provider/provider_registration">As Provider</a></li>
            <li><a class="dropdown-item" href="#">As Student</a></li>
          </ul>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>